<!-- chat text area -->
<div class="chatTypeArea">
  <button type="button" class="btn btn-link sendIcon">
    <fa name="paper-plane">
      <!-- animation="spin" -->
    </fa>
  </button>
  <div class="chatTextArea" contenteditable="true" data-text="Here’s how we can help you..." placeholder=""></div>
</div>
<!-- chat text area -->
