.chatTypeArea {
  width: 480px;
  height: 110px;
  background-color: #ffffff;
  position: fixed;
  right: 0px;
  bottom: 0px;
  border-top: 10px solid #f2f2f2;
  .chatTextArea {
    width: 480px;
    height: 110px;
    border: 0px solid #ddd;
    resize: none;
    padding: 15px;
  }
  .sendIcon {
    transform: rotate(50deg);
    font-size: 22px;
    color: #66bb6a;
    bottom: 0px;
    position: absolute;
    right: 10px;
    z-index: 9;
  }
}

[contentEditable=true]:empty:not(:focus):before {
  content: attr(data-text)
}
