@font-face {
  font-family: 'noto_sansregular';
  src: url('notosans-regular-webfont.eot');
  src: url('notosans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('notosans-regular-webfont.woff2') format('woff2'), url('notosans-regular-webfont.woff') format('woff'), url('notosans-regular-webfont.ttf') format('truetype'), url('notosans-regular-webfont.svg#noto_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sansbold';
  src: url('notosans-bold-webfont.eot');
  src: url('notosans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('notosans-bold-webfont.woff2') format('woff2'), url('notosans-bold-webfont.woff') format('woff'), url('notosans-bold-webfont.ttf') format('truetype'), url('notosans-bold-webfont.svg#noto_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold';
  src: url('roboto-bold-webfont.eot');
  src: url('roboto-bold-webfont.eot?#iefix') format('embedded-opentype'), url('roboto-bold-webfont.woff2') format('woff2'), url('roboto-bold-webfont.woff') format('woff'), url('roboto-bold-webfont.ttf') format('truetype'), url('roboto-bold-webfont.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotolight';
  src: url('roboto-light-webfont.eot');
  src: url('roboto-light-webfont.eot?#iefix') format('embedded-opentype'), url('roboto-light-webfont.woff2') format('woff2'), url('roboto-light-webfont.woff') format('woff'), url('roboto-light-webfont.ttf') format('truetype'), url('roboto-light-webfont.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomedium';
  src: url('roboto-medium-webfont.eot');
  src: url('roboto-medium-webfont.eot?#iefix') format('embedded-opentype'), url('roboto-medium-webfont.woff2') format('woff2'), url('roboto-medium-webfont.woff') format('woff'), url('roboto-medium-webfont.ttf') format('truetype'), url('roboto-medium-webfont.svg#robotomedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url('roboto-regular-webfont.eot');
  src: url('roboto-regular-webfont.eot?#iefix') format('embedded-opentype'), url('roboto-regular-webfont.woff2') format('woff2'), url('roboto-regular-webfont.woff') format('woff'), url('roboto-regular-webfont.ttf') format('truetype'), url('roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotothin';
  src: url('roboto-thin-webfont.eot');
  src: url('roboto-thin-webfont.eot?#iefix') format('embedded-opentype'), url('roboto-thin-webfont.woff2') format('woff2'), url('roboto-thin-webfont.woff') format('woff'), url('roboto-thin-webfont.ttf') format('truetype'), url('roboto-thin-webfont.svg#robotothin') format('svg');
  font-weight: normal;
  font-style: normal;
}
