.csChatCard {
  margin-bottom: 15px;
  .customerProfile,
  .csProfile {
    width: 32px;
    height: 32px;
    background-color: #c2d8e9;
    border-radius: 100%;
    line-height: 32px;
    text-align: center;
    label {
      color: #ffffff;
    }
  }
  .count{
    background-color: #aebfbe;
  }
  .customerQueryText {
    width: 300px;
    min-height: 40px;
    background-color: #ffffff;
    padding: 5px 10px;
    line-height: 1.34;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0px 10px;
  }
  .queryTime {
    margin-left: 10px;
  }
}

.customerQuery {
  .customerQueryText {
    border-bottom-left-radius: 0px;
  }
}

.csSolution {
  float: right;
  .csProfile {
    font-size: 24px;
    color: #fff;
  }
  .customerQueryText {
    border-bottom-right-radius: 0px;
  }
}
