<div class="csChatCard customerQuery d-inline-flex flex-row align-items-center">
  <div class="customerProfile count">
    <label>1</label>
    <img src="" *ngIf="" />
  </div>
  <div class="customerQueryText">
    I open Netflix, it kicks me back to home screen.
  </div>
  <div class="queryTime">19:03</div>
</div>

<div class="csChatCard customerQuery d-inline-flex flex-row align-items-center">
  <div class="customerProfile">
    <label>CX</label>
    <img src="" *ngIf="" />
  </div>
  <div class="customerQueryText">
    When I open Netflix, it kicks me back to home screen.
  </div>
  <div class="queryTime">19:03</div>
</div>


<!-- ccustomer query right side -->
<div class="csChatCard csSolution d-inline-flex flex-row align-items-center">
  <div class="queryTime">19:03</div>
  <div class="customerQueryText">
    When I open Netflix, it kicks me back to home screen.
  </div>
  <div class="csProfile">
    <fa name="user"></fa>
    <img src="" *ngIf="" />
    <label *ngIf="">CS</label>
  </div>
</div>
<div class="csChatCard csSolution d-inline-flex flex-row align-items-center">
  <div class="queryTime">19:04</div>
  <div class="customerQueryText">
    When I open Netflix, it kicks me back to home screen.
  </div>
  <div class="customerProfile count">
    <label>1</label>
    <img src="" *ngIf="" />
  </div>
</div>