<!-- share conversation card area -->
<div class="shareQueryCard clearfix">
  <div class="ticketArea">
    <div class="title">
      <span class="queryNo">
        <fa name="link"></fa>
      </span>
      <span>
        Share Conversation Synopsis
      </span>
    </div>
    <div class="fullWidth">
      <div class="d-inline-flex flex-row">
        <div class="label">code:</div>
        <div class="">433-1313-1209</div>
      </div> 
    </div>
   <div class="fullWidth">
    <div class="d-inline-flex flex-row">
      <div class="label">url:</div>
      <div class="link">https://link.com/CX/support/123456</div>
    </div> 
   </div>
    <form>
      <div class="group">      
        <input type="text" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Customer Email</label>
      </div>
      <div class="float-right">
        <button type="button" class="btn send-btn btn-link">send</button>
      </div>
    </form>
  </div>
</div>
<!-- query card area end -->

