.shareQueryCard {
    background-color: #ffffff;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    position: relative;
    margin-bottom: 15px;
    .ticketArea {
      padding: 10px 0px 10px 30px;
    }
    .title {
      color: #000;
      font-weight: bold;
      max-width: 85%;
      .queryNo {
        margin-left: -16px;
      }
    }
    .fullWidth{
        width: 100%;
        font-size: 14px;
        text-align: left;
        .label{
            text-transform: uppercase;
            margin-right: 5px;
        }
        .link{
            color: #66bb6a;
        }
    }
    /* form starting stylings ------------------------------- */
.group { 
    position:relative; 
    margin:15px 0; 
    width: 70%;
    float: left;
    input {
        font-size:14px;
        padding:10px 10px 5px 5px;
        display:block;
        line-height: 1.25;
        letter-spacing: 0.1px;
        text-align: left;
        border:none;
        width: 100%;
        border-bottom:1px solid #546e7a;
      }
      input:focus { outline:none; }
      
      /* LABEL ======================================= */
      label 				 {
        color:#999; 
        font-size:14px;
        position:absolute;
        pointer-events:none;
        top:10px;
        color: #78909c;
        transition:0.2s ease all; 
        -moz-transition:0.2s ease all; 
        -webkit-transition:0.2s ease all;
      }
      
      /* active state */
      input:focus ~ label, input:valid ~ label 		{
        top: -8px;
        font-size: 12px;
        text-align: left;
        color: #66bb6a;
      }
      
      /* BOTTOM BARS ================================= */
      .bar 	{ position:relative; display:block; width:300px; }
      .bar:before, .bar:after 	{
        content:'';
        height:1px; 
        width:0;
        bottom:1px; 
        position:absolute;
        background:#546e7a; 
        transition:0.2s ease all; 
        -moz-transition:0.2s ease all; 
        -webkit-transition:0.2s ease all;
      }
      .bar:before {
        left:50%;
      }
      .bar:after {
        right:50%; 
      }
      
      /* active state */
      input:focus ~ .bar:before, input:focus ~ .bar:after {
        width:50%;
      }
      
      /* HIGHLIGHTER ================================== */
      .highlight {
        position:absolute;
        height:60%; 
        width:100%; 
        top:25%; 
        left:0;
        pointer-events:none;
        opacity:0.5;
      }
  }
    .send-btn{
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 0.1px;
        text-align: left;
        color: #66bb6a;
        text-transform: uppercase;
        margin-top: 28px;
    }
}



