.chatBot {
  width: 480px;
  height: 100%;
  background-color: #f2f2f2;
  box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.26);
  position: fixed;
  right: 0px;
  top: 0px;
  bottom: 0px;
  padding: 15px 10px 120px 10px;
  overflow-y: auto;
}

/* spinner styles */

.spinner {
  margin: 10px auto;
  text-align: center;
  width: 100%;
  clear: both;
}

.spinner>div {
  width: 10px;
  height: 10px;
  background-color: #8ba2b2;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.0);
  }
}

/* spinner styles end */
