<div class="chatBot" #chatBot>
  <app-querycard></app-querycard>
  <app-chats></app-chats>
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
  <app-shareconversation></app-shareconversation>
</div>
<app-chattypearea></app-chattypearea>

