/* You can add global styles to this file, and also import other style files */
@import 'assets/fonts/fonts.css';

@import 'default.variables.scss';


html,
body {
  height: 100%;
}

body {
  font-family: 'robotoregular', Arial, Helvetica, sans-serif;
  font-size: 13px;
  letter-spacing: 0.1px;
}

.queryCard {
  font-family: 'noto_sansregular', Arial, Helvetica, sans-serif;
  letter-spacing: 0.1px;
  .actionBar{
    .btn-link {
      font-family: 'noto_sansregular', Arial, Helvetica, sans-serif !important;
    }
  }
}
// tabs styles
.detailsTabs{
  tabset{
    .tabset{
      ul{
        height: 30px;
        background-color: #c2d8e9;
        justify-content: flex-end;
      }
      li.active{
        background-color: #8ba2b2;
      }
      li{
        .btn{
          font-size: 13px;
          text-align: center;
          color: #ffffff;
          text-transform: uppercase;
          margin: 0;
          border: none;
          border-radius: 0;
        }
      }
    }
  }
  .tabset-content{
    max-height: calc(100vh - 260px);
    min-height: 200px;
    overflow-y: auto;
    transition: height 2s;
    background: #fff;
  }
  .detailsCard{
    .cardDescription{
      .userProfile{
        .userPic{
          i{
            color: #fff;
            font-size: 24px;
            padding: 10px 14px;
          }
        }
      }
    }
  }
}
// scroll bar style
.chatBot::-webkit-scrollbar-track,.tabset-content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #f2f2f2;
}

.chatBot::-webkit-scrollbar,.tabset-content::-webkit-scrollbar
{
	width: 6px;
	background-color: #f2f2f2;
}

.chatBot::-webkit-scrollbar-thumb,.tabset-content::-webkit-scrollbar-thumb
{
	background-color: #aebfbe;
}