<!-- pinned query card area -->
<div class="queryCard clearfix pinnedQueryCard">
  <div class="pinnedHeader pinnedHighlighted">
    <!--"pinnedHighlighted" for highlight pinned header-->
    <div class="flags">
      <button type="button" class="btn btn-link pinterest">
        <fa name="thumb-tack"></fa>
      </button>
    </div>
  </div>
  <div class="ticketArea">
    <div class="title">
      <span class="queryNo">2</span> Cannot access Netflix goes back to home screen</div>
    <div class="description">Reset the TV to factory presets. Try again, issue solved.</div>
  </div>
  <div class="actionBar clearfix">
    <div class="float-left">
      <button type="button" class="btn btn-link btnIgnore">Ignore</button>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-link btnSelected">solved</button>
      <!-- "btnHoverBg" for solved highlight -->
      <button type="button" class="btn btn-link">details</button>
    </div>
  </div>
</div>
<!-- query card area end -->


<!-- query card area -->
<div class="queryCard clearfix">
  <!-- "queryCard-disableState" for card disable state -->
  <div class="ticketArea">
    <div class="flags">
      <button type="button" class="btn btn-link pinterest">
        <fa name="thumb-tack"></fa>
      </button>
    </div>
    <div class="title">
      <span class="queryNo">
        <fa name="star"></fa>
      </span>
      <span>
        Netflix kicks back to home menu then causes blank screen
      </span>
    </div>
    <div class="description">RDS and push system update. Reset the TV to factory presets.</div>
  </div>
  <div class="actionBar clearfix">
    <div class="float-left">
      <button type="button" class="btn btn-link btnIgnore">Ignore</button>
      <!-- "btnHoverBg" for ignore highlight -->
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-link">suggest</button>
      <button type="button" class="btn btn-link">details</button>
    </div>
  </div>
</div>
<!-- query card area end -->

<!-- query card area -->
<div class="queryCard clearfix queryCard-disableState ">
  <!-- "queryCard-disableState" for card disable state -->
  <div class="ticketArea">
    <div class="flags">
      <button type="button" class="btn btn-link flagIcon notResolved">
        <fa name="flag"></fa>
      </button>
      <button type="button" class="btn btn-link pinterest">
        <fa name="thumb-tack"></fa>
      </button>
    </div>
    <div class="title">
      <span class="queryNo">1</span> Netflix kicking back to home screen</div>
    <div class="description">Cleared cache forced stop OK</div>
  </div>
  <div class="actionBar clearfix">
    <div class="float-left">
      <button type="button" class="btn btn-link btnIgnore btnHoverBg">Ignore</button>
      <!-- "btnHoverBg" for ignore highlight -->
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-link">suggest</button>
      <button type="button" class="btn btn-link" (click)="showDetailsTabs()">details</button>
    </div>
  </div>
</div>
<!-- query card area end -->


<div class="detailsTabs" *ngIf="detailstabs">
  <!--*ngIf="detailstabs"-->
  <tabset [pills]="true" (onSelect)="tabselect($event)">
    <div class="tabs-title">
      <div *ngIf="showHeaderText">“Netflix kicks me back to home screen”</div>

      <div class="input-group" *ngIf="searchResult">
        <span class="searcIcon">
          <fa name="search"></fa>
        </span>
        <input class="form-control" placeholder="search">
      </div>
    </div>

    <tab title="details">
      <div class="detailsCard">
        <div class="cardInfo ignoredCard">
          <div class="cardNumber">card 1</div>
          <div class="ignore">
            <span class="notResolved">
              <fa name="flag"></fa>
            </span>
            <span>ignored</span>
          </div>
        </div>
        <div class="cardDescription">
          <div class="d-inline-flex flex-row">
            <div class="title">title:</div>
            <div class="description titleName">Netflix kicking me back to home screen</div>
          </div>
          <div class="d-inline-flex flex-row">
            <div class="title">when:</div>
            <div class="description titleTime">
              <span>2017 - 03 - 07</span>20:54</div>
          </div>
          <div *ngIf="detailedInformation">
            <div class="d-inline-flex flex-row">
              <div class="title">problem:</div>
              <div class="description">Netflix throws me back to home screen</div>
            </div>
            <div class="d-inline-flex flex-row">
              <div class="title">solution:</div>
              <div class="description">Factory reset issue resolved</div>
            </div>
            <div class="d-inline-flex flex-row">
              <div class="title">who:</div>
              <div class="description">C8FF</div>
            </div>
            <div class="float-left">
              <button type="button" class="btn btn-link left-padding">suggest</button>
            </div>
            <div class="activityActions">
              <div>
                <span>19</span>
                <span class="actionIcon">
                  <fa name="thumbs-up"></fa>
                </span>
              </div>
              <div>
                <span>1 </span>
                <span class="actionIcon">
                  <fa name="thumbs-down"></fa>
                </span>
              </div>
            </div>
          </div>
          <div class="userProfile">
            <span class="userPic">
              <fa name="user"></fa>
            </span>
          </div>
          <div class="float-right">
            <a class="btn btn-link" (click)="toggle()">{{buttonName}}
            </a>
          </div>
        </div>
      </div>
      <div class="detailsCard">
        <div class="cardInfo">
          <div class="cardNumber">card 2</div>
        </div>
        <div class="cardDescription">
          <div class="d-inline-flex flex-row">
            <div class="title">title:</div>
            <div class="description titleName">Netflix kicking me back to home screen</div>
          </div>
          <div class="d-inline-flex flex-row">
            <div class="title">when:</div>
            <div class="description titleTime">
              <span>2017 - 03 - 07</span>20:54</div>
          </div>
          <div *ngIf="detailedInformation">
            <div class="d-inline-flex flex-row">
              <div class="title">problem:</div>
              <div class="description">Netflix throws me back to home screen</div>
            </div>
            <div class="d-inline-flex flex-row">
              <div class="title">solution:</div>
              <div class="description">Factory reset issue resolved</div>
            </div>
            <div class="d-inline-flex flex-row">
              <div class="title">who:</div>
              <div class="description">C8FF</div>
            </div>
            <div class="float-left">
              <button type="button" class="btn btn-link left-padding">suggest</button>
            </div>
          </div>
          <div class="userProfile">
            <span class="userPic">
              <fa name="user"></fa>
            </span>
          </div>
          <div class="float-right">
            <a class="btn btn-link" (click)="toggle()">{{buttonName}}
            </a>
          </div>
        </div>
      </div>
    </tab>
    <tab title="similar">
      <div class="listViewTable">
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th>date</th>
              <th>title</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1
                <span class="notResolved">
                  <fa name="flag"></fa>
                </span>
              </td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>Netflix kicking back to home screen</td>
            </tr>
            <tr>
              <td>1
                <span class="notResolved">
                  <fa name="flag"></fa>
                </span>
              </td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>Netflix kicking back to home screen</td>
            </tr>
            <tr>
              <td>1
                <span class="notResolved">
                  <fa name="flag"></fa>
                </span>
              </td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>Netflix kicking back to home screen</td>
            </tr>
            <tr>
              <td>1
                <span class="notResolved">
                  <fa name="flag"></fa>
                </span>
              </td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>Netflix kicking back to home screen</td>
            </tr>
            <tr>
              <td>1
                <span class="notResolved">
                  <fa name="flag"></fa>
                </span>
              </td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>Netflix kicking back to home screen</td>
            </tr>
            <tr>
              <td>1
                <span class="notResolved">
                  <fa name="flag"></fa>
                </span>
              </td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>Netflix kicking back to home screen</td>
            </tr>
            <tr>
              <td>1
                <span class="notResolved">
                  <fa name="flag"></fa>
                </span>
              </td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>Netflix kicking back to home screen</td>
            </tr>
            <tr>
              <td>1
                <span class="notResolved">
                  <fa name="flag"></fa>
                </span>
              </td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>Netflix kicking back to home screen</td>
            </tr>
            <tr>
              <td>1
                <span class="notResolved">
                  <fa name="flag"></fa>
                </span>
              </td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>Netflix kicking back to home screen</td>
            </tr>
            <tr>
              <td>1
                <span class="notResolved">
                  <fa name="flag"></fa>
                </span>
              </td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>Netflix kicking back to home screen</td>
            </tr>
            <tr class="selectRow">
              <td>2</td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>Netflix kicks her out to home screen after a few seconds
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>Netflix always is kicking me back to home menu</td>
            </tr>
            <tr>
              <td>4</td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>Netflix always is kicking me back to home menu</td>
            </tr>
            <tr>
              <td>5</td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>When I go to picture settings it will go back to home screen automaticall</td>
            </tr>
            <tr>
              <td>6</td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>Netflix always is kicking me back to home menu</td>
            </tr>
            <tr>
              <td>7</td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>Goes back to home screen Netflix goes back to the home screen</td>
            </tr>
            <tr>
              <td>8</td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>When I go to picture settings it will go back to home screen automatically</td>
            </tr>
            <tr>
              <td>9
              </td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>Netflix kicking back to home screen</td>
            </tr>
            <tr>
              <td>10</td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>Netflix kicks her out to home screen after a few seconds
              </td>
            </tr>
            <tr>
              <td>11</td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>Netflix always is kicking me back to home menu</td>
            </tr>
            <tr>
              <td>12</td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>Netflix always is kicking me back to home menu</td>
            </tr>
            <tr>
              <td>13</td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>When I go to picture settings it will go back to home screen automaticall</td>
            </tr>
            <tr>
              <td>14</td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>Netflix always is kicking me back to home menu</td>
            </tr>
            <tr>
              <td>15</td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>Goes back to home screen Netflix goes back to the home screen</td>
            </tr>
            <tr>
              <td>16</td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>When I go to picture settings it will go back to home screen automatically</td>
            </tr>
          </tbody>
        </table>
      </div>
    </tab>
    <tab title="KWIC">
      <div class="fullWidth" *ngIf="findResult">
        <div class="d-inline-flex flex-row">
          <div class="searchField">
            <input type="text" class="form-control" placeholder="Search by keyword">
          </div>
          <div class="kwicFindBtn">
            <button type="button" class="btn" (click)="showListView()">find kwic</button>
          </div>
        </div>
      </div>
      <div class="listViewTable" *ngIf="showList">
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th>date</th>
              <th>title</th>
            </tr>
          </thead>
          <tbody>
            <tr class="selectRow">
              <td>1
                <span class="notResolved">
                  <fa name="flag"></fa>
                </span>
              </td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>Netflix kicking back to home screen</td>
            </tr>
            <tr>
              <td>2</td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>Netflix kicks her out to home screen after a few seconds
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>Netflix always is kicking me back to home menu</td>
            </tr>
            <tr>
              <td>4</td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>Netflix always is kicking me back to home menu</td>
            </tr>
            <tr>
              <td>5</td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>When I go to picture settings it will go back to home screen automaticall</td>
            </tr>
            <tr>
              <td>6</td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>Netflix always is kicking me back to home menu</td>
            </tr>
            <tr>
              <td>7</td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>Goes back to home screen Netflix goes back to the home screen</td>
            </tr>
            <tr>
              <td>8</td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>When I go to picture settings it will go back to home screen automatically</td>
            </tr>
            <tr>
              <td>9
              </td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>Netflix kicking back to home screen</td>
            </tr>
            <tr>
              <td>10</td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>Netflix kicks her out to home screen after a few seconds
              </td>
            </tr>
            <tr>
              <td>11</td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>Netflix always is kicking me back to home menu</td>
            </tr>
            <tr>
              <td>12</td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>Netflix always is kicking me back to home menu</td>
            </tr>
            <tr>
              <td>13</td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>When I go to picture settings it will go back to home screen automaticall</td>
            </tr>
            <tr>
              <td>14</td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>Netflix always is kicking me back to home menu</td>
            </tr>
            <tr>
              <td>15</td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>Goes back to home screen Netflix goes back to the home screen</td>
            </tr>
            <tr>
              <td>16</td>
              <td>
                <span>2017-03-07</span>
                <span>20:54</span>
              </td>
              <td>When I go to picture settings it will go back to home screen automatically</td>
            </tr>
          </tbody>
        </table>
      </div>

    </tab>
  </tabset>
  <div class="detailsViewClose" (click)="closeDetailsView()">
    <span class="tableCloseIcon">
      <fa name="angle-up"></fa>
    </span>
  </div>
</div>
