/* querycard css */
@import '../../../default.variables.scss';
.queryCard {
  background-color: $white;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  position: relative;
  margin-bottom: 15px;
  .ticketArea {
    padding: 10px 0px 10px 30px;
  }
  .title {
    color: #000;
    font-weight: bold;
    max-width: 85%;
    .queryNo {
      margin-left: -16px;
      margin-right: 5px;
      fa{
        color: #66bb6a;
      }
    }
  }
  .description {}
  .actionBar {
    margin-top: 15px;
    padding-bottom: 3px;
    .btn-link {
      letter-spacing: 0.2px;
      color: #66bb6a;
      font-size: 11px;
      text-transform: uppercase;
      padding: 0px 20px;
      font-family: NotoSans;
      font-weight: bold;
      &:hover {
        text-decoration: none;
      }
      &.btnIgnore {
        padding: 0px 30px;
      }
      &.btnHoverBg {
        background-color: #f9f9f9;
        margin: 0;
        border-radius: 0;
      }
      &.btnSelected{
        color: #8ba2b2;
      }
    }
  }
  .flags {
    position: absolute;
    top: 3px;
    right: 10px;
    button {
      padding: 0 5px;
      color: #8ba2b2;
      &.notResolved {
        color: #e57373;
      }
      &.thumbtackIcon {
        color: #8ba2b2;
      }
    }
  }
  &.queryCard-disableState {
    opacity: 0.6;
  } // pinned query card styles
  &.pinnedQueryCard {
    position: relative;
    top: -15px;
    left: -10px;
    margin-right: -20px;
    .pinnedHeader {
      height: 28px;
      background-color: $primarylightBlue;
      &.pinnedHighlighted{
        background-color: #8ba2b2;
        .flags{
          button{      
            color:#c2d8e9;
          }
        }
      }
    }
  }
}

.detailsTabs {
  -webkit-animation: detailsSection 1s ease-in-out;
  -moz-animation: detailsSection 1s ease-in-out;
  animation: detailsSection 1s ease-in-out;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  position: relative;
  left: -10px;
  margin-right: -20px;
  margin-top: -15px;
  margin-bottom: 10px;
  .tabs-title{
    font-size: 11px;
    line-height: 1.59;
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 20px;
    right: 0;
    max-width: 50%;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    .input-group{
      .searcIcon{
        font-size: 16px;
      }
      .form-control{
        border: none;
        border-bottom: 1px solid #fff;
        border-radius: 0;
        background: transparent;
        color: #fff;
        height: 25px;
        font-size: 11px;
        margin-left: 15px;
        padding-left: 0;
        padding-bottom: 0;
        &:focus{
          box-shadow: none;
        }
      }
      input::placeholder {
        color: #fff;
      }
    }
  }
  .detailsCard {
    padding: 0px 20px 15px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    position: relative;
    .cardInfo {
      width: 100%;
      min-height: 18px;
      .cardNumber {
        min-width: 75px;
        height: 18px;
        float: left;
        background-color: #c2d8e9;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        color: #ffffff;
        text-transform: uppercase;
      }
      .ignore {
        font-size: 12px;
        float: left;
        min-width: 100px;
        font-weight: 300;
        font-style: italic;
        font-stretch: normal;
        line-height: 1.46;
        text-align: left;
        color: #8ba2b2;
        margin-left: 10px;
        .notResolved {
          color: #e57373;
        }
      }
    }
    .ignoredCard {
      .cardNumber {
        opacity: 0.5;
      }
    }
    .cardDescription {
      padding: 15px 0;
      .flex-row {
        width: 100%;
        margin-bottom: 3px;
      }
      .title {
        min-width: 80px;
        font-size: 14px;
        line-height: 1.79;
        text-align: left;
        color: #8ba2b2;
        text-transform: uppercase;
      }
      .description {
        font-size: 14px;
        font-weight: 300;
        text-align: left;
        opacity: 0.6;
        max-width: 75%;
      }
      .titleName {
        font-size: 16px;
      }
      .titleTime {
        span:first-child {
          margin-right: 30px;
        }
      }
      .btn-link {
        font-size: 14px;
        text-align: left;
        color: #63b36d;
        text-transform: uppercase;
        padding: 0;
        &:hover {
          text-decoration: none;
        }
      }
      .left-padding {
        padding-left: 80px;
      }
      .userProfile {
        width: 45px;
        height: 45px;
        background-color: #aebfbe;
        border-radius: 50%;
        position: absolute;
        top: 15px;
        right: 20px;
      }
      .activityActions {
        position: absolute;
        top: 40%;
        right: 20px;
        text-align: right;
        color: #000000;
        opacity: 0.4;
        font-size: 18px;
        .actionIcon {
          color: #aebfbe;
        }
      }
    }
  }
  .detailsCard:nth-child(odd) {
    background-color: #f9f9f9;
  }
  .detailsCard:nth-child(even) {
    background: #fff;
  }
  .listViewTable {
    .table {
      background: #fff;
      font-size: 11px;
      margin-bottom: 0;
      td,
      th {
        border: none;
        padding: 5px 10px;
      }
      tr {
        td:nth-child(1) {
          width: 50px;
        }
        td:nth-child(2) {
          width: 150px;
          span:first-child {
            margin-right: 15px;
          }
        }
        td:nth-child(3) {
          width: 250px;
        }
      }
      th {
        color: #8ba2b2;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: normal;
      }
    }
    .table-striped tbody tr:nth-of-type(odd) {
      background-color: #fff;
    }
    .table-striped tbody tr:nth-of-type(even) {
      background-color: #f9f9f9;
    }
    .notResolved {
      color: #e57373;
    }
    .selectRow {
      color: #66bb6a;
    }
  }
  .detailsViewClose {
    height: 26px;
    background-color: #c2d8e9;
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    cursor: pointer;
    .tableCloseIcon {
      font-size: 18px;
      color: #fff;
    }
  }
  .fullWidth{
    width: 100%;
    .flex-row{
      width: 100%;
      padding:30px 20px;
      .searchField{
        width: 50%;
        margin-right: 20px;    
        .form-control{
          border: none;
          border-bottom: 1px solid #546e7a;
          border-radius: 0;
          font-size: 14px;
          font-weight: 300;
          line-height: 1.25;
          letter-spacing: 0.1px;
          text-align: left;
          color: #78909c;
          padding: 6px 0;
          &:focus{
            box-shadow: none;
          }
        } 
      }
      input::placeholder {
        color: #78909c;
      }
      .kwicFindBtn{
       .btn{
        width: 100px;
        height: 30px;
        background-color: #8ba2b2;
        box-shadow: 0px 2px 1px 0 rgba(0, 0, 0, 0.1);
        border-radius: 0;
        font-size: 14px;
        line-height: 1.25;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
       }
      }
    }
  }
}

.hide {
  display: none !important;
}

/* querycard css end */

@-webkit-keyframes detailsSection {
  from {
    top: -100%;
  }
  to {
    top: 0%;
  }
}

@keyframes detailsSection {
  from {
    top: -100%;
  }
  to {
    top: 0%;
  }
}
